$color1: #f3b229;
$color2: darkblue;
$color3: #02236d;
$color4: white;

footer {
    background-color: $color3;
    color: $color4;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    p {
      padding: 15px 0 0 0;
    }
  
    .footer-img {
      height: 90px;
    }
  }
  
  .redes {
    display: flex;
    flex-direction: center;
    align-items: center;
  
    a {
      transition: all ease 300ms;
  
      &:hover {
        transform: scale(1.2);
        color: $color1;
      }
    }
  }
  
  .red {
    color: $color4;
  }
  
  .fa-brands {
    font-size: 30px;
    margin: 15px;
  }
  
  .copy {
    color: #5e5e5e;
    font-size: 15px;
  }