$color1: #f3b229;
$color2: darkblue;
$color3: #02236d;
$color4: white;

/* info socios */

.rectangulos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $color4;

  .rec {
    height: 300px;
    width: calc(100% - 40px);
    max-width: 400px;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;

    h2 {
      color: $color1;
    }
  }
}

.rec1, .rec2{
  background-color: $color3;
}

.rec3{
  background-color: $color1;
  color: black;
}

/* formularios */

.formularios {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  form {
    background-color: $color3;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: calc(100% - 40px);
    max-width: 420px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
    margin: 25px;

    h2 {
      font-size: 30px;
      color: $color4;
      margin-bottom: 35px;
    }
  }
}

input {
  padding: 17px;
  border-radius: 25px;
  background-color: transparent;
  border: 3px solid $color1;
  margin-bottom: 30px;
  outline: none;
  color: $color4;
  font-size: 16px;

  &::placeholder {
    color: #7c7c7c;
  }
}

.btn {
  background-color: $color1;
  border: 2px solid $color1;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    background-color: #ffcd62;
    border: 2px solid #ffcd62;
    transform: scale(1.07);
  }
}