$color1: #f3b229;
$color2: darkblue;
$color3: #02236d;
$color4: white;

.navbar-dark .navbar-toggler-icon {
  background-image: url(../assets/menu.png);
}

.navbar {
  background-color: $color2;
}

.nav-item {
  transition: all 0.5s;
}

.nav-item:hover {
  background-color: $color1;
  border-radius: 15px;
}