@use 'a-variables';
@use 'footer';
@use 'hacete-socio';
@use 'la-bombonera';
@use 'historia';
@use 'general';
@use 'navbar';
@use 'index';
@use 'media';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');